apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: toggle-vault-data
  namespace: toggle-vault
  labels:
    app.kubernetes.io/name: toggle-vault
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: managed-csi
  resources:
    requests:
      storage: 1Gi
