apiVersion: v1
kind: Service
metadata:
  name: toggle-vault-service
  namespace: toggle-vault
  labels:
    app.kubernetes.io/name: toggle-vault
    app.kubernetes.io/component: service
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: toggle-vault
